@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap");

* {
  background-color: gray;
  font-family: "Montserrat", sans-serif;
}

.heading {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#icaoform {
  position: absolute;
  top: 10%;
}

#wxinfo {
  display: none;
  position: absolute;
  justify-content: center;
  bottom: 35%;
  left: 33%;
  text-align: center;
}

input[type="text"] {
  background-color: white;
  padding: 8px 16px;
  margin-bottom: 150px;
  width: 200px;
  text-align: center;
}

.fetchbtn {
  position: absolute;
  margin-top: 20px;
  padding: 10px;
  display: inline-block;
  font-size: 16px;
  background-color: #2ecc71;
  color: white;
  text-align: center;
  border: none;
  left: 30%;
  top: 15%;
}

.fetchbtn:hover {
  background-color: #58d68d;
}
